{
  "openapi": "3.1.0",
  "info": {
    "title": "Partner API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://seats.aero/partnerapi/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Partner-Authorization"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/live": {
      "post": {
        "summary": "Live Search",
        "description": "",
        "operationId": "live-search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "origin_airport",
                  "destination_airport",
                  "departure_date",
                  "source"
                ],
                "properties": {
                  "origin_airport": {
                    "type": "string",
                    "description": "The origin airport to search from."
                  },
                  "destination_airport": {
                    "type": "string",
                    "description": "The destination airport to search to."
                  },
                  "departure_date": {
                    "type": "string",
                    "description": "Departure date to search, in YYYY-MM-DD format."
                  },
                  "source": {
                    "type": "string",
                    "description": "The mileage program to search. Can be one of: [united, delta, virginatlantic, velocity, aeroplan, alaska]"
                  },
                  "disable_filters": {
                    "type": "boolean",
                    "description": "Disables any filters for dynamic pricing or mismatched airports.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"results\": [\n        {\n            \"ID\": \"2SODQGRpnMQIvz0lJVRb8TROLaH\",\n            \"RouteID\": \"\",\n            \"AvailabilityID\": \"\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2SODQJegJ36x5Ji48yvUCN510hR\",\n                    \"RouteID\": \"\",\n                    \"AvailabilityID\": \"\",\n                    \"AvailabilityTripID\": \"2SODQGRpnMQIvz0lJVRb8TROLaH\",\n                    \"FlightNumber\": \"VS20\",\n                    \"Distance\": 5359,\n                    \"FareClass\": \"A\",\n                    \"AircraftName\": \"Airbus A350-1000\",\n                    \"AircraftCode\": \"351\",\n                    \"OriginAirport\": \"SFO\",\n                    \"DestinationAirport\": \"LHR\",\n                    \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n                    \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n                    \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"Source\": \"virginatlantic\"\n                }\n            ],\n            \"TotalDuration\": 615,\n            \"Stops\": 0,\n            \"Carriers\": \"VS\",\n            \"RemainingSeats\": 9,\n            \"MileageCost\": 15000,\n            \"TotalTaxes\": 15169,\n            \"TaxesCurrency\": \"USD\",\n            \"TaxesCurrencySymbol\": \"$\",\n            \"AllianceCost\": 0,\n            \"FlightNumbers\": \"VS20\",\n            \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n            \"Cabin\": \"economy\",\n            \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n            \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n            \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n            \"Source\": \"virginatlantic\"\n        },\n        {\n            \"ID\": \"2SODQI5MIqNVD052xlx23n2Wvsf\",\n            \"RouteID\": \"\",\n            \"AvailabilityID\": \"\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2SODQHgdoBJy7ETGR8n0CHIzdH4\",\n                    \"RouteID\": \"\",\n                    \"AvailabilityID\": \"\",\n                    \"AvailabilityTripID\": \"2SODQI5MIqNVD052xlx23n2Wvsf\",\n                    \"FlightNumber\": \"VS20\",\n                    \"Distance\": 5359,\n                    \"FareClass\": \"P\",\n                    \"AircraftName\": \"Airbus A350-1000\",\n                    \"AircraftCode\": \"351\",\n                    \"OriginAirport\": \"SFO\",\n                    \"DestinationAirport\": \"LHR\",\n                    \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n                    \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n                    \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"Source\": \"virginatlantic\"\n                }\n            ],\n            \"TotalDuration\": 615,\n            \"Stops\": 0,\n            \"Carriers\": \"VS\",\n            \"RemainingSeats\": 2,\n            \"MileageCost\": 27500,\n            \"TotalTaxes\": 42670,\n            \"TaxesCurrency\": \"USD\",\n            \"TaxesCurrencySymbol\": \"$\",\n            \"AllianceCost\": 0,\n            \"FlightNumbers\": \"VS20\",\n            \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n            \"Cabin\": \"premium\",\n            \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n            \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n            \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n            \"Source\": \"virginatlantic\"\n        },\n        {\n            \"ID\": \"2SODQJHoe2LpQRpIjI7iiCwgbud\",\n            \"RouteID\": \"\",\n            \"AvailabilityID\": \"\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2SODQGOZk1cTSUI0WDxXAlrvHwf\",\n                    \"RouteID\": \"\",\n                    \"AvailabilityID\": \"\",\n                    \"AvailabilityTripID\": \"2SODQJHoe2LpQRpIjI7iiCwgbud\",\n                    \"FlightNumber\": \"VS20\",\n                    \"Distance\": 5359,\n                    \"FareClass\": \"G\",\n                    \"AircraftName\": \"Airbus A350-1000\",\n                    \"AircraftCode\": \"351\",\n                    \"OriginAirport\": \"SFO\",\n                    \"DestinationAirport\": \"LHR\",\n                    \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n                    \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n                    \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n                    \"Source\": \"virginatlantic\"\n                }\n            ],\n            \"TotalDuration\": 615,\n            \"Stops\": 0,\n            \"Carriers\": \"VS\",\n            \"RemainingSeats\": 2,\n            \"MileageCost\": 67500,\n            \"TotalTaxes\": 87670,\n            \"TaxesCurrency\": \"USD\",\n            \"TaxesCurrencySymbol\": \"$\",\n            \"AllianceCost\": 0,\n            \"FlightNumbers\": \"VS20\",\n            \"DepartsAt\": \"2024-03-09T17:45:00Z\",\n            \"Cabin\": \"business\",\n            \"ArrivesAt\": \"2024-03-10T12:00:00Z\",\n            \"CreatedAt\": \"0001-01-01T00:00:00Z\",\n            \"UpdatedAt\": \"0001-01-01T00:00:00Z\",\n            \"Source\": \"virginatlantic\"\n        }\n    ],\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "example": "2SODQGRpnMQIvz0lJVRb8TROLaH"
                          },
                          "RouteID": {
                            "type": "string",
                            "example": ""
                          },
                          "AvailabilityID": {
                            "type": "string",
                            "example": ""
                          },
                          "AvailabilitySegments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID": {
                                  "type": "string",
                                  "example": "2SODQJegJ36x5Ji48yvUCN510hR"
                                },
                                "RouteID": {
                                  "type": "string",
                                  "example": ""
                                },
                                "AvailabilityID": {
                                  "type": "string",
                                  "example": ""
                                },
                                "AvailabilityTripID": {
                                  "type": "string",
                                  "example": "2SODQGRpnMQIvz0lJVRb8TROLaH"
                                },
                                "FlightNumber": {
                                  "type": "string",
                                  "example": "VS20"
                                },
                                "Distance": {
                                  "type": "integer",
                                  "example": 5359,
                                  "default": 0
                                },
                                "FareClass": {
                                  "type": "string",
                                  "example": "A"
                                },
                                "AircraftName": {
                                  "type": "string",
                                  "example": "Airbus A350-1000"
                                },
                                "AircraftCode": {
                                  "type": "string",
                                  "example": "351"
                                },
                                "OriginAirport": {
                                  "type": "string",
                                  "example": "SFO"
                                },
                                "DestinationAirport": {
                                  "type": "string",
                                  "example": "LHR"
                                },
                                "DepartsAt": {
                                  "type": "string",
                                  "example": "2024-03-09T17:45:00Z"
                                },
                                "ArrivesAt": {
                                  "type": "string",
                                  "example": "2024-03-10T12:00:00Z"
                                },
                                "CreatedAt": {
                                  "type": "string",
                                  "example": "0001-01-01T00:00:00Z"
                                },
                                "UpdatedAt": {
                                  "type": "string",
                                  "example": "0001-01-01T00:00:00Z"
                                },
                                "Source": {
                                  "type": "string",
                                  "example": "virginatlantic"
                                }
                              }
                            }
                          },
                          "TotalDuration": {
                            "type": "integer",
                            "example": 615,
                            "default": 0
                          },
                          "Stops": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "Carriers": {
                            "type": "string",
                            "example": "VS"
                          },
                          "RemainingSeats": {
                            "type": "integer",
                            "example": 9,
                            "default": 0
                          },
                          "MileageCost": {
                            "type": "integer",
                            "example": 15000,
                            "default": 0
                          },
                          "TotalTaxes": {
                            "type": "integer",
                            "example": 15169,
                            "default": 0
                          },
                          "TaxesCurrency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "TaxesCurrencySymbol": {
                            "type": "string",
                            "example": "$"
                          },
                          "AllianceCost": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "FlightNumbers": {
                            "type": "string",
                            "example": "VS20"
                          },
                          "DepartsAt": {
                            "type": "string",
                            "example": "2024-03-09T17:45:00Z"
                          },
                          "Cabin": {
                            "type": "string",
                            "example": "economy"
                          },
                          "ArrivesAt": {
                            "type": "string",
                            "example": "2024-03-10T12:00:00Z"
                          },
                          "CreatedAt": {
                            "type": "string",
                            "example": "0001-01-01T00:00:00Z"
                          },
                          "UpdatedAt": {
                            "type": "string",
                            "example": "0001-01-01T00:00:00Z"
                          },
                          "Source": {
                            "type": "string",
                            "example": "virginatlantic"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"success\":false,\"error\":\"unsupported source\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "error": {
                      "type": "string",
                      "example": "unsupported source"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"success\":false,\"error\":\"invalid status code 403\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "error": {
                      "type": "string",
                      "example": "invalid status code 403"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/availability": {
      "get": {
        "summary": "Bulk Availability",
        "description": "Retrieve a large amount of availability objects from one specific mileage program.",
        "operationId": "get-availability",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "The mileage program to retrieve availability from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cabin",
            "in": "query",
            "description": "Only returns results with this cabin available. Must be one of: [economy, premium, business, first]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Only returns results between start_date and end_date when specified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Only returns results between start_date and end_date when specified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin_region",
            "in": "query",
            "description": "Only returns results originating in this region when specified. Must be one of: [North America, South America, Africa, Asia, Europe, Oceania]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_region",
            "in": "query",
            "description": "Only returns results arriving in this region when specified. Must be one of: [North America, South America, Africa, Asia, Europe, Oceania]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "How many results to return. Must be >=10 and <= 1000 if specified, otherwise 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor you retrieved from a previous availability response.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "How many results to skip that you have already retrieved. Use this with the cursor to paginate responses.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/trips/{id}": {
      "get": {
        "summary": "Get Trips",
        "description": "Retrieve flight-level information from an Availability object.",
        "operationId": "get-trips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the availability object.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"ID\": \"2S8Cm9dHORWWKpoCkxfRkZa0e5l\",\n            \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n            \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2S8CmA8bXa9KHaxZfUtihUzRTPd\",\n                    \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n                    \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n                    \"AvailabilityTripID\": \"2S8Cm9dHORWWKpoCkxfRkZa0e5l\",\n                    \"FlightNumber\": \"CM326\",\n                    \"Distance\": 966,\n                    \"FareClass\": \"I\",\n                    \"AircraftName\": \"739\",\n                    \"AircraftCode\": \"739\",\n                    \"OriginAirport\": \"CUN\",\n                    \"DestinationAirport\": \"PTY\",\n                    \"DepartsAt\": \"2024-05-01T13:52:00Z\",\n                    \"ArrivesAt\": \"2024-05-01T16:31:00Z\",\n                    \"CreatedAt\": \"2023-07-05T01:02:57.782804Z\",\n                    \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n                    \"Source\": \"lifemiles\",\n                    \"Order\": 0\n                },\n                {\n                    \"ID\": \"2S8CmEryWzLYnioVN6fJ2Ue5Lg8\",\n                    \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n                    \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n                    \"AvailabilityTripID\": \"2S8Cm9dHORWWKpoCkxfRkZa0e5l\",\n                    \"FlightNumber\": \"TK800\",\n                    \"Distance\": 6739,\n                    \"FareClass\": \"I\",\n                    \"AircraftName\": \"77W\",\n                    \"AircraftCode\": \"77W\",\n                    \"OriginAirport\": \"PTY\",\n                    \"DestinationAirport\": \"IST\",\n                    \"DepartsAt\": \"2024-05-01T20:05:00Z\",\n                    \"ArrivesAt\": \"2024-05-02T16:45:00Z\",\n                    \"CreatedAt\": \"2023-07-05T01:02:57.782804Z\",\n                    \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n                    \"Source\": \"lifemiles\",\n                    \"Order\": 1\n                }\n            ],\n            \"TotalDuration\": 1133,\n            \"Stops\": 1,\n            \"Carriers\": \"CM, TK\",\n            \"RemainingSeats\": 9,\n            \"MileageCost\": 70000,\n            \"TotalTaxes\": 1290,\n            \"TaxesCurrency\": \"\",\n            \"TaxesCurrencySymbol\": \"\",\n            \"AllianceCost\": 87944,\n            \"FlightNumbers\": \"CM326, TK800\",\n            \"DepartsAt\": \"2024-05-01T13:52:00Z\",\n            \"Cabin\": \"business\",\n            \"ArrivesAt\": \"2024-05-02T16:45:00Z\",\n            \"CreatedAt\": \"2023-07-05T01:02:57.782804Z\",\n            \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n            \"Source\": \"lifemiles\"\n        },\n        {\n            \"ID\": \"2PpmopJhuy4EHjBDqz0anF23NZG\",\n            \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n            \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2PpmoqoW1gd8hxW4bbdQFE9n8jj\",\n                    \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n                    \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n                    \"AvailabilityTripID\": \"2PpmopJhuy4EHjBDqz0anF23NZG\",\n                    \"FlightNumber\": \"TK184\",\n                    \"Distance\": 6503,\n                    \"FareClass\": \"I\",\n                    \"AircraftName\": \"77W\",\n                    \"AircraftCode\": \"77W\",\n                    \"OriginAirport\": \"CUN\",\n                    \"DestinationAirport\": \"IST\",\n                    \"DepartsAt\": \"2024-05-01T14:00:00Z\",\n                    \"ArrivesAt\": \"2024-05-02T10:10:00Z\",\n                    \"CreatedAt\": \"2023-05-15T14:56:14.168038Z\",\n                    \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n                    \"Source\": \"lifemiles\",\n                    \"Order\": 0\n                }\n            ],\n            \"TotalDuration\": 730,\n            \"Stops\": 0,\n            \"Carriers\": \"TK\",\n            \"RemainingSeats\": 4,\n            \"MileageCost\": 70000,\n            \"TotalTaxes\": 4174,\n            \"TaxesCurrency\": \"\",\n            \"TaxesCurrencySymbol\": \"\",\n            \"AllianceCost\": 77239,\n            \"FlightNumbers\": \"TK184\",\n            \"DepartsAt\": \"2024-05-01T14:00:00Z\",\n            \"Cabin\": \"business\",\n            \"ArrivesAt\": \"2024-05-02T10:10:00Z\",\n            \"CreatedAt\": \"2023-05-15T14:56:14.168038Z\",\n            \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n            \"Source\": \"lifemiles\"\n        },\n        {\n            \"ID\": \"2Rz56y1pd82svLce0X9LEOr3btm\",\n            \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n            \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n            \"AvailabilitySegments\": [\n                {\n                    \"ID\": \"2Rz5716GezvEXsK8lgXC5r1ikLb\",\n                    \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n                    \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n                    \"AvailabilityTripID\": \"2Rz56y1pd82svLce0X9LEOr3btm\",\n                    \"FlightNumber\": \"CM262\",\n                    \"Distance\": 966,\n                    \"FareClass\": \"I\",\n                    \"AircraftName\": \"738\",\n                    \"AircraftCode\": \"738\",\n                    \"OriginAirport\": \"CUN\",\n                    \"DestinationAirport\": \"PTY\",\n                    \"DepartsAt\": \"2024-05-01T11:52:00Z\",\n                    \"ArrivesAt\": \"2024-05-01T14:35:00Z\",\n                    \"CreatedAt\": \"2023-07-01T19:31:37.227793Z\",\n                    \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n                    \"Source\": \"lifemiles\",\n                    \"Order\": 0\n                },\n                {\n                    \"ID\": \"2Rz56wgdGerLguXFBcJ1Pvz1lNv\",\n                    \"RouteID\": \"2B9HOBW9EOvJQDTQqxc3UKEhhur\",\n                    \"AvailabilityID\": \"2PPrELk9WcfJaNREWEPXypvhXAD\",\n                    \"AvailabilityTripID\": \"2Rz56y1pd82svLce0X9LEOr3btm\",\n                    \"FlightNumber\": \"TK800\",\n                    \"Distance\": 6739,\n                    \"FareClass\": \"I\",\n                    \"AircraftName\": \"77W\",\n                    \"AircraftCode\": \"77W\",\n                    \"OriginAirport\": \"PTY\",\n                    \"DestinationAirport\": \"IST\",\n                    \"DepartsAt\": \"2024-05-01T20:05:00Z\",\n                    \"ArrivesAt\": \"2024-05-02T16:45:00Z\",\n                    \"CreatedAt\": \"2023-07-01T19:31:37.227793Z\",\n                    \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n                    \"Source\": \"lifemiles\",\n                    \"Order\": 1\n                }\n            ],\n            \"TotalDuration\": 1253,\n            \"Stops\": 1,\n            \"Carriers\": \"CM, TK\",\n            \"RemainingSeats\": 9,\n            \"MileageCost\": 70000,\n            \"TotalTaxes\": 1290,\n            \"TaxesCurrency\": \"\",\n            \"TaxesCurrencySymbol\": \"\",\n            \"AllianceCost\": 87944,\n            \"FlightNumbers\": \"CM262, TK800\",\n            \"DepartsAt\": \"2024-05-01T11:52:00Z\",\n            \"Cabin\": \"business\",\n            \"ArrivesAt\": \"2024-05-02T16:45:00Z\",\n            \"CreatedAt\": \"2023-07-01T19:31:37.227793Z\",\n            \"UpdatedAt\": \"2023-07-08T07:12:25.266914Z\",\n            \"Source\": \"lifemiles\"\n        }\n    ],\n    \"origin_coordinates\": {\n        \"Lat\": 21.036500930800003,\n        \"Lon\": -86.8770980835\n    },\n    \"destination_coordinates\": {\n        \"Lat\": 40.9768981934,\n        \"Lon\": 28.814599990799998\n    },\n    \"booking_links\": [\n        {\n            \"label\": \"Book via Avianca LifeMiles\",\n            \"link\": \"https://www.lifemiles.com/fly/find\",\n            \"primary\": true\n        },\n        {\n            \"label\": \"Book via Air Canada Aeroplan\",\n            \"link\": \"https://www.aircanada.com/aeroplan/redeem/availability/outbound?org0=CUN&dest0=IST&departureDate0=2024-05-01&lang=en-CA&tripType=O&ADT=1&YTH=0&CHD=0&INF=0&INS=0&marketCode=INT\",\n            \"primary\": false\n        },\n        {\n            \"label\": \"Book via United MileagePlus\",\n            \"link\": \"https://www.united.com/en/us/fsr/choose-flights?f=CUN&t=IST&d=2024-05-01&sc=7&st=bestmatches&cbm=-1&cbm2=-1&ft=0&cp=0&tt=1&at=1&rm=1&act=0&px=1&taxng=1&clm=7&tqp=A\",\n            \"primary\": false\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "example": "2S8Cm9dHORWWKpoCkxfRkZa0e5l"
                          },
                          "RouteID": {
                            "type": "string",
                            "example": "2B9HOBW9EOvJQDTQqxc3UKEhhur"
                          },
                          "AvailabilityID": {
                            "type": "string",
                            "example": "2PPrELk9WcfJaNREWEPXypvhXAD"
                          },
                          "AvailabilitySegments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID": {
                                  "type": "string",
                                  "example": "2S8CmA8bXa9KHaxZfUtihUzRTPd"
                                },
                                "RouteID": {
                                  "type": "string",
                                  "example": "2B9HOBW9EOvJQDTQqxc3UKEhhur"
                                },
                                "AvailabilityID": {
                                  "type": "string",
                                  "example": "2PPrELk9WcfJaNREWEPXypvhXAD"
                                },
                                "AvailabilityTripID": {
                                  "type": "string",
                                  "example": "2S8Cm9dHORWWKpoCkxfRkZa0e5l"
                                },
                                "FlightNumber": {
                                  "type": "string",
                                  "example": "CM326"
                                },
                                "Distance": {
                                  "type": "integer",
                                  "example": 966,
                                  "default": 0
                                },
                                "FareClass": {
                                  "type": "string",
                                  "example": "I"
                                },
                                "AircraftName": {
                                  "type": "string",
                                  "example": "739"
                                },
                                "AircraftCode": {
                                  "type": "string",
                                  "example": "739"
                                },
                                "OriginAirport": {
                                  "type": "string",
                                  "example": "CUN"
                                },
                                "DestinationAirport": {
                                  "type": "string",
                                  "example": "PTY"
                                },
                                "DepartsAt": {
                                  "type": "string",
                                  "example": "2024-05-01T13:52:00Z"
                                },
                                "ArrivesAt": {
                                  "type": "string",
                                  "example": "2024-05-01T16:31:00Z"
                                },
                                "CreatedAt": {
                                  "type": "string",
                                  "example": "2023-07-05T01:02:57.782804Z"
                                },
                                "UpdatedAt": {
                                  "type": "string",
                                  "example": "2023-07-08T07:12:25.266914Z"
                                },
                                "Source": {
                                  "type": "string",
                                  "example": "lifemiles"
                                },
                                "Order": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "TotalDuration": {
                            "type": "integer",
                            "example": 1133,
                            "default": 0
                          },
                          "Stops": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "Carriers": {
                            "type": "string",
                            "example": "CM, TK"
                          },
                          "RemainingSeats": {
                            "type": "integer",
                            "example": 9,
                            "default": 0
                          },
                          "MileageCost": {
                            "type": "integer",
                            "example": 70000,
                            "default": 0
                          },
                          "TotalTaxes": {
                            "type": "integer",
                            "example": 1290,
                            "default": 0
                          },
                          "TaxesCurrency": {
                            "type": "string",
                            "example": ""
                          },
                          "TaxesCurrencySymbol": {
                            "type": "string",
                            "example": ""
                          },
                          "AllianceCost": {
                            "type": "integer",
                            "example": 87944,
                            "default": 0
                          },
                          "FlightNumbers": {
                            "type": "string",
                            "example": "CM326, TK800"
                          },
                          "DepartsAt": {
                            "type": "string",
                            "example": "2024-05-01T13:52:00Z"
                          },
                          "Cabin": {
                            "type": "string",
                            "example": "business"
                          },
                          "ArrivesAt": {
                            "type": "string",
                            "example": "2024-05-02T16:45:00Z"
                          },
                          "CreatedAt": {
                            "type": "string",
                            "example": "2023-07-05T01:02:57.782804Z"
                          },
                          "UpdatedAt": {
                            "type": "string",
                            "example": "2023-07-08T07:12:25.266914Z"
                          },
                          "Source": {
                            "type": "string",
                            "example": "lifemiles"
                          }
                        }
                      }
                    },
                    "origin_coordinates": {
                      "type": "object",
                      "properties": {
                        "Lat": {
                          "type": "number",
                          "example": 21.036500930800003,
                          "default": 0
                        },
                        "Lon": {
                          "type": "number",
                          "example": -86.8770980835,
                          "default": 0
                        }
                      }
                    },
                    "destination_coordinates": {
                      "type": "object",
                      "properties": {
                        "Lat": {
                          "type": "number",
                          "example": 40.9768981934,
                          "default": 0
                        },
                        "Lon": {
                          "type": "number",
                          "example": 28.814599990799998,
                          "default": 0
                        }
                      }
                    },
                    "booking_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "example": "Book via Avianca LifeMiles"
                          },
                          "link": {
                            "type": "string",
                            "example": "https://www.lifemiles.com/fly/find"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/search": {
      "get": {
        "summary": "Cached Search",
        "description": "",
        "operationId": "cached-search",
        "parameters": [
          {
            "name": "origin_airport",
            "in": "query",
            "description": "A list of origin airports. Comma-delimited if multiple, such as \"SFO,LAX\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_airport",
            "in": "query",
            "description": "A list of destination airports. Comma-delimited if multiple, such as \"FRA,LHR\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cabin",
            "in": "query",
            "description": "Results must have this cabin available when specified. Must be one of: [economy, premium, business, first]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Results must depart between start_date and end_date when specified, in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Results must depart between start_date and end_date when specified, in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A cursor you obtained from a previous search call.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum amount of results to respond with. Must be >= 10 and <= 1000.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "By default, results are ordered by departure date and then by available cabins, with available premium cabins ranked above results without them available. You can alternatively specify lowest_mileage in this parameter to return results with the cheapest prices first.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "How many results to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"ID\": \"2QSaUXJ0ZuSVqgrRWqkSlXhnVbS\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"33000\",\n            \"FMileageCost\": \"33000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, B6\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-05-29T08:37:32.218426Z\",\n            \"UpdatedAt\": \"2023-07-10T13:52:23.343425Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2R8aFIAHrQJPURIa6OCIVWQOybR\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"25000\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 4,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"AA, AS\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-13T05:27:36.817909Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:02.394106Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2J79SuPtMDjpsEdhgdUgkTveJLF\",\n            \"RouteID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n            \"Route\": {\n                \"ID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 5359,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"57500\",\n            \"FMileageCost\": \"106000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, BA\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": false,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2022-12-19T02:50:57.410473Z\",\n            \"UpdatedAt\": \"2023-07-10T14:10:48.976143Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QeB5K3qSAYxSzOYLGsJhROrsVL\",\n            \"RouteID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n            \"Route\": {\n                \"ID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 5359,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"65000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 6,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, EI\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"\",\n            \"YDirect\": false,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-02T11:06:21.743548Z\",\n            \"UpdatedAt\": \"2023-07-10T13:31:42.767942Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2R8aBO724gUMxnAhnoX7iLv28a5\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"55000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-13T05:27:05.216042Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:01.820717Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2R91qrbdQaUWMdtFLSsPBrKWf8d\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"90000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-13T09:14:36.817041Z\",\n            \"UpdatedAt\": \"2023-07-10T16:46:59.476767Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2IzwuV72tpT4BPYPNtLC7bRv7oM\",\n            \"RouteID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n            \"Route\": {\n                \"ID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 120,\n                \"Distance\": 5359,\n                \"Source\": \"virginatlantic\"\n            },\n            \"Date\": \"2023-08-11\",\n            \"ParsedDate\": \"2023-08-11T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": true,\n            \"JAvailable\": true,\n            \"FAvailable\": null,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"26200\",\n            \"JMileageCost\": \"54200\",\n            \"FMileageCost\": null,\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 9,\n            \"JRemainingSeats\": 3,\n            \"FRemainingSeats\": null,\n            \"YAirlines\": \"VS\",\n            \"WAirlines\": \"VS\",\n            \"JAirlines\": \"VS\",\n            \"FAirlines\": null,\n            \"YDirect\": true,\n            \"WDirect\": true,\n            \"JDirect\": true,\n            \"FDirect\": null,\n            \"Source\": \"virginatlantic\",\n            \"CreatedAt\": \"2022-12-16T13:39:02.251472Z\",\n            \"UpdatedAt\": \"2023-07-10T13:35:32.557504Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QUVw0M2e962qx9I8rfbnH8z6Z5\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"33000\",\n            \"FMileageCost\": \"33000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, B6\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-05-30T00:59:41.813766Z\",\n            \"UpdatedAt\": \"2023-07-10T13:51:53.771505Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2J7Anwrw9r5XeMY4yRSMXtZ3wbj\",\n            \"RouteID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n            \"Route\": {\n                \"ID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 5359,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"57500\",\n            \"FMileageCost\": \"97000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, BA\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": false,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2022-12-19T03:01:57.260038Z\",\n            \"UpdatedAt\": \"2023-07-10T14:10:34.030944Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QhRQpP6ZjQO1nUeNm5TXVMmEWd\",\n            \"RouteID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n            \"Route\": {\n                \"ID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 5359,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"65000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 2,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, BA, EI\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"\",\n            \"YDirect\": false,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-03T14:50:12.142087Z\",\n            \"UpdatedAt\": \"2023-07-10T13:31:45.280844Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RB018lcNKPazUO5ECFsoyGot3s\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-14T01:59:08.705962Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:06.865483Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RD6oUAtGbd2a3c0i8FfDSNl1kj\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"90000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-14T19:54:39.838369Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:00.411019Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RAzzO3PT6oA16jMvhaPK03cAWX\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-14T01:58:54.857144Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:02.107805Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2Izwu2lG6sDd4Wm6UMCgL189EAW\",\n            \"RouteID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n            \"Route\": {\n                \"ID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 120,\n                \"Distance\": 5359,\n                \"Source\": \"virginatlantic\"\n            },\n            \"Date\": \"2023-08-12\",\n            \"ParsedDate\": \"2023-08-12T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": true,\n            \"JAvailable\": true,\n            \"FAvailable\": null,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"26200\",\n            \"JMileageCost\": \"54200\",\n            \"FMileageCost\": null,\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 9,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": null,\n            \"YAirlines\": \"VS\",\n            \"WAirlines\": \"VS\",\n            \"JAirlines\": \"VS\",\n            \"FAirlines\": null,\n            \"YDirect\": true,\n            \"WDirect\": true,\n            \"JDirect\": true,\n            \"FDirect\": null,\n            \"Source\": \"virginatlantic\",\n            \"CreatedAt\": \"2022-12-16T13:38:58.244848Z\",\n            \"UpdatedAt\": \"2023-07-10T13:35:24.950461Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QYTTC11gCV1R8FNKpYugdZTeRv\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"16000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"44000\",\n            \"FMileageCost\": \"35000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-05-31T10:38:40.668451Z\",\n            \"UpdatedAt\": \"2023-07-10T13:51:29.756266Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2J7A0f4ospZESYXpILoR8XVc6ON\",\n            \"RouteID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n            \"Route\": {\n                \"ID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 5359,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"57500\",\n            \"FMileageCost\": \"90500\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, BA\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2022-12-19T02:55:25.880926Z\",\n            \"UpdatedAt\": \"2023-07-10T14:10:56.755336Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RFrIjKkhKUFmAp6iwnJvU4YZd1\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"90000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-15T19:16:32.933806Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:03.078971Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RELDg5pdgOvaQowBoION2Fl3h7\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-15T06:22:55.397477Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:07.421243Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2REL8pZSQrnRHbNOwYsI9d82CWD\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-15T06:22:16.615959Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:07.365727Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QeBGdgQsmdc2DagYeak1V3tHdk\",\n            \"RouteID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n            \"Route\": {\n                \"ID\": \"2Qd8htSo1HNEVkERlvIlyQg5fBO\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 5359,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"65000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS, BA, EI\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-02T11:07:51.137914Z\",\n            \"UpdatedAt\": \"2023-07-10T13:31:44.721702Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2IzwyaVyz2iqQyVOUMTAw8nxxpF\",\n            \"RouteID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n            \"Route\": {\n                \"ID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 120,\n                \"Distance\": 5359,\n                \"Source\": \"virginatlantic\"\n            },\n            \"Date\": \"2023-08-13\",\n            \"ParsedDate\": \"2023-08-13T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": true,\n            \"JAvailable\": true,\n            \"FAvailable\": null,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"26200\",\n            \"JMileageCost\": \"54200\",\n            \"FMileageCost\": null,\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 9,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": null,\n            \"YAirlines\": \"VS\",\n            \"WAirlines\": \"VS\",\n            \"JAirlines\": \"VS\",\n            \"FAirlines\": null,\n            \"YDirect\": true,\n            \"WDirect\": true,\n            \"JDirect\": true,\n            \"FDirect\": null,\n            \"Source\": \"virginatlantic\",\n            \"CreatedAt\": \"2022-12-16T13:39:34.693951Z\",\n            \"UpdatedAt\": \"2023-07-10T13:35:46.821076Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QaT7o6k4Lh4gEvwE65yvA0DAGK\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-14\",\n            \"ParsedDate\": \"2023-08-14T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"35500\",\n            \"FMileageCost\": \"33000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, B6\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-06-01T03:35:27.175451Z\",\n            \"UpdatedAt\": \"2023-07-10T13:52:27.667521Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RHDWlX0LtXplVN8DvyFrqSBtSm\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-14\",\n            \"ParsedDate\": \"2023-08-14T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"90000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-16T06:49:06.55062Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:04.016781Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RGrfqQYkyq6py8HQ05uS7ZywzR\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-14\",\n            \"ParsedDate\": \"2023-08-14T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-16T03:49:24.893782Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:36.683704Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RGrYUdNJENKnXY42PQlJQ7e32H\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-14\",\n            \"ParsedDate\": \"2023-08-14T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"35000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-16T03:48:26.304684Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:06.881979Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2IzxAHYgbKhxwFWoKfFyaveCF82\",\n            \"RouteID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n            \"Route\": {\n                \"ID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 120,\n                \"Distance\": 5359,\n                \"Source\": \"virginatlantic\"\n            },\n            \"Date\": \"2023-08-14\",\n            \"ParsedDate\": \"2023-08-14T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": true,\n            \"JAvailable\": true,\n            \"FAvailable\": null,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"26200\",\n            \"JMileageCost\": \"54200\",\n            \"FMileageCost\": null,\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 9,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": null,\n            \"YAirlines\": \"AF, VS\",\n            \"WAirlines\": \"VS\",\n            \"JAirlines\": \"VS\",\n            \"FAirlines\": null,\n            \"YDirect\": true,\n            \"WDirect\": true,\n            \"JDirect\": true,\n            \"FDirect\": null,\n            \"Source\": \"virginatlantic\",\n            \"CreatedAt\": \"2022-12-16T13:41:07.485006Z\",\n            \"UpdatedAt\": \"2023-07-10T13:36:06.517637Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QeWX0XhrAW1OZLCXauiczxSsaS\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-15\",\n            \"ParsedDate\": \"2023-08-15T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"33500\",\n            \"FMileageCost\": \"33000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, B6\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-06-02T14:02:42.694361Z\",\n            \"UpdatedAt\": \"2023-07-10T13:51:58.267916Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RJO12KLdJI09fLpVurqrpgm4yX\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-15\",\n            \"ParsedDate\": \"2023-08-15T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 6,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-17T01:14:58.49062Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:05.839068Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RJO6MSfPM0khmBrtLRNeTmjVIB\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-15\",\n            \"ParsedDate\": \"2023-08-15T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"15000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-17T01:15:40.267091Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:06.915131Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RJwWeBqJt4smuiXBq9DhnCKlwS\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-15\",\n            \"ParsedDate\": \"2023-08-15T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"79500\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-17T05:58:44.95395Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:03.801276Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2IzwOw4IK9rEGLyj6XWmuMBDeks\",\n            \"RouteID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n            \"Route\": {\n                \"ID\": \"2EQanxEfWCL0fcNKmQpbE6Wcg9h\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 120,\n                \"Distance\": 5359,\n                \"Source\": \"virginatlantic\"\n            },\n            \"Date\": \"2023-08-15\",\n            \"ParsedDate\": \"2023-08-15T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": true,\n            \"JAvailable\": true,\n            \"FAvailable\": null,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"26200\",\n            \"JMileageCost\": \"54200\",\n            \"FMileageCost\": null,\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 6,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": null,\n            \"YAirlines\": \"VS\",\n            \"WAirlines\": \"VS\",\n            \"JAirlines\": \"VS\",\n            \"FAirlines\": null,\n            \"YDirect\": true,\n            \"WDirect\": true,\n            \"JDirect\": true,\n            \"FDirect\": null,\n            \"Source\": \"virginatlantic\",\n            \"CreatedAt\": \"2022-12-16T13:34:50.608801Z\",\n            \"UpdatedAt\": \"2023-07-10T13:35:17.70168Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2QgapL6B4qpZHgSAuqeveeYNbVP\",\n            \"RouteID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n            \"Route\": {\n                \"ID\": \"2HmSwbzAS9SnEdtIsf3nkjozpX1\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 2582,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-16\",\n            \"ParsedDate\": \"2023-08-16T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"12500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"33000\",\n            \"FMileageCost\": \"33000\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, B6\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AA, B6\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": true,\n            \"Source\": \"american\",\n            \"CreatedAt\": \"2023-06-03T07:37:39.226186Z\",\n            \"UpdatedAt\": \"2023-07-10T13:52:33.598589Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RMmJGzQSkn5XoJQ8R3MRRioEd5\",\n            \"RouteID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n            \"Route\": {\n                \"ID\": \"2Qd8hyjEypv1Fik69IVdBg0WKIK\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"EWR\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2561,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-16\",\n            \"ParsedDate\": \"2023-08-16T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"17500\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-18T06:04:10.859856Z\",\n            \"UpdatedAt\": \"2023-07-10T00:07:44.380744Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RMgArAvsgNltxeumVQXBIbyYBY\",\n            \"RouteID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n            \"Route\": {\n                \"ID\": \"2IZU4neIqrVuxLopVliJC1cgtVI\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"delta\"\n            },\n            \"Date\": \"2023-08-16\",\n            \"ParsedDate\": \"2023-08-16T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"88000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 9,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 9,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"DL\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"DL\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"delta\",\n            \"CreatedAt\": \"2023-06-18T05:13:43.502377Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:08.41418Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2RMmNUMOtmqixbR4xpx9MLPhLW6\",\n            \"RouteID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n            \"Route\": {\n                \"ID\": \"2Qd8i1CesLLdNQGrQVWTT4A0b1C\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"JFK\",\n                \"DestinationRegion\": \"North America\",\n                \"NumDaysOut\": 60,\n                \"Distance\": 2582,\n                \"Source\": \"alaska\"\n            },\n            \"Date\": \"2023-08-16\",\n            \"ParsedDate\": \"2023-08-16T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": false,\n            \"YMileageCost\": \"20000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"45000\",\n            \"FMileageCost\": \"0\",\n            \"YRemainingSeats\": 7,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 7,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"AS\",\n            \"FAirlines\": \"\",\n            \"YDirect\": true,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"alaska\",\n            \"CreatedAt\": \"2023-06-18T06:04:44.910568Z\",\n            \"UpdatedAt\": \"2023-07-10T16:47:15.992607Z\",\n            \"AvailabilityTrips\": null\n        },\n        {\n            \"ID\": \"2J79pFCQsb3S5oKcpMJhJHVzEKj\",\n            \"RouteID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n            \"Route\": {\n                \"ID\": \"2HmZc5mdC1PWSgwbFfZoW1G7VMp\",\n                \"OriginAirport\": \"SFO\",\n                \"OriginRegion\": \"North America\",\n                \"DestinationAirport\": \"LHR\",\n                \"DestinationRegion\": \"Europe\",\n                \"NumDaysOut\": 75,\n                \"Distance\": 5359,\n                \"Source\": \"american\"\n            },\n            \"Date\": \"2023-08-17\",\n            \"ParsedDate\": \"2023-08-17T00:00:00Z\",\n            \"YAvailable\": true,\n            \"WAvailable\": false,\n            \"JAvailable\": true,\n            \"FAvailable\": true,\n            \"YMileageCost\": \"30000\",\n            \"WMileageCost\": \"0\",\n            \"JMileageCost\": \"57500\",\n            \"FMileageCost\": \"140500\",\n            \"YRemainingSeats\": 0,\n            \"WRemainingSeats\": 0,\n            \"JRemainingSeats\": 0,\n            \"FRemainingSeats\": 0,\n            \"YAirlines\": \"AA, AS\",\n            \"WAirlines\": \"\",\n            \"JAirlines\": \"BA\",\n            \"FAirlines\": \"AA\",\n            \"YDirect\": false,\n            \"WDirect\": false,\n            \"JDirect\": true,\n            \"FDirect\": false,\n            \"Source\": \"american\",\n    
[...]
